body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.app-container {
    margin: 200px auto;
    width: 60%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 3fr 1fr;
}


h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 10px;
}

#inputs, #orders {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: white;
    background-color: black;
}

#inputs:focus, #orders:focus {
    outline: none;
}

input {
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    text-decoration: none;
    height: 30px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}

input:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

button {
    font-size: 20px;
    height: 40px;
    width: 100px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#number-output {
    font-size: 75px;
    margin: 1px;
    word-break: break-all;
    color: rgb(172, 90, 248);
    font-weight: 100;
}

.inactive {
    display: none;
}